.classA {
    background: aqua;
    height: 700px;
}

.classB {
    background: rgb(2, 203, 203);
    height: 500px;
}

.classC {
    background: rgba(1, 197, 197, 0.738);
    height: 300px;
}

.classD {
    background: rgba(11, 117, 117, 0.738);
    height: 1000px;
}


.classC_new {
    background: rgb(173, 0, 0);
}